@font-face {
    font-family: 'Futura';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/FuturaPT-Light.woff"),
    url("../fonts/FuturaPT-Light.woff2");
}

@font-face {
    font-family: 'Futura';
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/FuturaPT-Medium.woff"),
    url("../fonts/FuturaPT-Medium.woff2");
}

@font-face {
    font-family: 'Futura';
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/FuturaPT-Bold.woff"),
    url("../fonts/FuturaPT-Bold.woff2");
}